*{
    margin :0px;
    padding:0px;

}

body {
    font-family: "Josefin Sans";
    background-color: white;
    width:100%;
    overflow-x:hidden;
}

.img1 img{
    position:absolute;
    background-repeat: no-repeat;
    width:100%;
    height:40%;
    z-index:-1;
    max-width:1440px;
}

.img2 {
    position:absolute;
    left:66%;
    top:10%;
}

.todotxt {
    color: hsl(0, 0%, 98%);
    font-size: 60px;
    font-weight: 700;
    position: absolute;
    left: 33%;
    top: 10%;
    
}

.butts {
    //position:absolute;
    //text-align: center;
    display: flex;
    margin: 1px;
    padding-bottom: 50px;
}

.inptext {
    width: 320px;
    height: 30px;
    border: 1px solid white;
    border-radius: 10px;
    padding: 2.5px;
    font-size: 18px;
    outline: none;
    max-width: 350px;
    max-height:50px;
}

.butt {
    color: white;
    width: 39px;
    height: 37px;
    background-color: hsl(0, 0%, 17%);
    cursor: pointer;
    border: none;
}

.butt2 {
    display:flex;
    margin-left: 10px;
    text-decoration: none;
    border: none;
    width: fit-content;
    background-color: hsl(0, 0%, 17%);
    cursor: pointer;
    color:white;
}

article {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1px;
   
}

.sec2 {
    width: 400px;
    height: fit-content;
    background-color: hsl(0, 0%, 17%);
    color: white;
    margin:1px;
    padding:1px;
    box-sizing:border-box;
    font-size:18px;
}
.sec22 div div{
    box-sizing: border-box;
    padding: 10px;
    width: 400px;

}
.sec22 input {
    background-color: #eee;
    width :18px;
    height:18px;
    margin-right:330px;
}
.sec22 label{
    margin-left:20px;
}

.sec3 {
    display: flex;
    justify-content: space-between;
    padding:5px;
}

    .sec3 input {
        display: flex;
        justify-content: space-between;
        padding: 5px;
        cursor: pointer;
    }

.sec22 input, .sec22 span {
    cursor: pointer;
}

.lineThrow {
    color: hsl(234, 39%, 85%);
    text-decoration-line: line-through;
    text-decoration-color: hsl(234, 39%, 85%);
}
.lineNot {
    color: white;
    text-decoration-line: none;
}

@media only screen and (min-width:200px) and (max-width: 430px){
    .img1 img {
        max-width:430px;
    }

    .todotxt {
        color: hsl(0, 0%, 98%);
        font-size: 40px;
        max-width:60px;
        font-weight: 700;
        position: absolute;
        left: 23%;
        top: 10%;
    }

    .inptext {
        width: 200px;
        height: 25px;
        max-width:250px;
        max-height:30px;
    }

    .butt {
        width: 39px;
        height: 37px;
    }

    .sec2 {
        width: 270px;
    }

    .sec22 div div {
        width: 250px;
        
    }
 
}
